# =========================
# Build output
# =========================
**/bin/
**/obj/
**/out/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / JetBrains
# =========================
.idea/
/_ReSharper.Caches/
/packages/
riderModule.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# NuGet
# =========================
*.nupkg
packages/
*.snupkg

# =========================
# Test results
# =========================
TestResults/
coverage/
*.coverage
*.coveragexml

# =========================
# EF Core
# =========================
Migrations/
*.db
*.db-shm
*.db-wal

# =========================
# Logs
# =========================
*.log

# =========================
# Publish output
# =========================
publish/